
# zkVerify config
ZKV_API_BASE_URL=
RELAYER_API_KEY=

# Pinata config
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=

# Optional: Logging configuration
RUST_LOG=info,backend=debug

# ->> BASE-SEPOLIA <<-

# Smart contract address
CONTRACT_ADDRESS=

# WebSocket RPC endpoint (primary for subscriptions)
WS_RPC_URL=

# HTTP RPC endpoint (fallback for queries and transactions)
HTTP_RPC_URL=

